.linkPad {
  margin: 10px;

  .linkPad__shell {
    position: relative;

    .linkPad__draggable {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dbdee0;
      position: absolute;
      height: 100%;
      width: 30px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      .linkPad__dots__container {
        .linkPad__dots {
          width: 5px;
          height: 5px;
          margin: 2px;
          border-radius: 50%;
          background-color: #afafaf;
        }
      }
    }

    .linkPad__input {
      display: inline-block;
      width: 100%;

      .linkPad__input__section {
        width: 100%;
        background: white;
        border-top-left-radius: 10px;

        .linkPad__input_fields {
          display: inline-block;
          width: 84%;

          input {
            width: 100%;
            border: none;
            padding: 5px;

            &:focus {
              outline: none;
            }
          }
        }

        .linkPad__input_options {
          position: absolute;
          top: 0;
          right: 0px;
          margin: 2px;
        }
      }

      .linkPad__options {
        display: inline-block;
        width: 100%;
        background: white;
        border-bottom-left-radius: 10px;
      }
    }
  }
}
